form{
    position:absolute;
    left: 45%;
    background-color: brown;
    width:10%;
    border: double 5px gold;
    color: silver;
}
input{
  margin: 5px;
    display: block;
}
label{
    margin: 5px;
}